@model IEnumerable<Capco.Domain.Entities.Order>
<h1>Orders</h1>
<table class="table">
    <thead>
        <tr>
            <th>Number</th>
            <th>Status</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.OrderNumber</td>
            <td>@order.Status</td>
            <td>@order.Total.ToString("C")</td>
            <td><a class="btn" asp-action="Details" asp-route-id="@order.Id">View</a></td>
        </tr>
    }
    </tbody>
</table>
