################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NavyaAlmonds/DesignTimeBuild/.dtbcache.v2
/.vs/NavyaAlmonds/FileContentIndex/9b522ad2-b431-4812-8103-6b8ccca9beaa.vsidx
/.vs/NavyaAlmonds/FileContentIndex/af49816c-4635-481e-a310-60a0f67c3272.vsidx
/.vs/NavyaAlmonds/v17/.futdcache.v2
/.vs/NavyaAlmonds/v17/.suo
/.vs/NavyaAlmonds/v17/DocumentLayout.backup.json
/.vs/NavyaAlmonds/v17/DocumentLayout.json
/.vs/Jordan4/v17/.wsuo
/.vs/Jordan4/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/src/Navya.Data/obj/Navya.Data.csproj.nuget.dgspec.json
/src/Navya.Data/obj/Navya.Data.csproj.nuget.g.props
/src/Navya.Data/obj/Navya.Data.csproj.nuget.g.targets
/src/Navya.Data/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/Navya.Data/obj/Debug/net8.0/Navya.Data.AssemblyInfo.cs
/src/Navya.Data/obj/Debug/net8.0/Navya.Data.AssemblyInfoInputs.cache
/src/Navya.Data/obj/Debug/net8.0/Navya.Data.assets.cache
/src/Navya.Data/obj/Debug/net8.0/Navya.Data.csproj.AssemblyReference.cache
/src/Navya.Data/obj/Debug/net8.0/Navya.Data.csproj.CoreCompileInputs.cache
/src/Navya.Data/obj/Debug/net8.0/Navya.Data.csproj.FileListAbsolute.txt
/src/Navya.Data/obj/Debug/net8.0/Navya.Data.GeneratedMSBuildEditorConfig.editorconfig
*.cs
